@import 'normalize';

// Colors
$c-white: #fff;
$c-black: #000;
$c-coral: #F8475F;
$c-gray:  #BDBDBD;
$c-mediumgray: #c0c0c0;
$c-darkgray: #7A7A7A;

// Fonts
$f-primary: 'Nunito', sans-serif;
$f-secondary: 'Lato', sans-serif;
$f-tertiary: 'Ubuntu', sans-serif;

body {
  font-family: $f-primary;
}
.image-responsive {
  width: 100%;
  height: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 1rem 1.25rem 0.7rem 1.25rem;
  .header-figure {
    margin: 0;
    &:nth-of-type(2) {
      width: 100px;
    }
  }
  .header-search-container {
    width: 100%;
    margin-top: 1rem;
    input[type="text"] {
      width: 100%;
      font: 400 0.8em $f-primary; 
      padding: 0 0 0.2rem 0.5rem;
      border: none;
      border-bottom: 1px solid #000;
      box-sizing: border-box;
    }
  }
}
.section-banner {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
  url('./../../img/background-banner-image.jpg');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 1.25rem;
  .section-banner-text {
    font: 600 1.4em $f-primary;
    color: $c-white;
    line-height: 1;
    margin-bottom: 0;
  }
  .section-banner-title {
    font: 800 1.8em $f-primary;
    color: $c-white;
    line-height: 1;
    margin-top: 0.2rem;
  }
}
.dots-items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 2rem 0 0 0;
  list-style: none;
  .dots-item span { 
    display: block;
    width: 7px;
    height: 7px;
    background-color: $c-gray;
    margin: 0 0.3rem;
    border-radius: 100%;
  }
  span.active {
    background-color: $c-coral;
    outline: none;
  }
}
.section-products {
  padding: 1rem 0.5rem;
  .section-title {
    position: relative;
    font: 900 1.5em $f-primary;
    color: $c-black;
    padding: 0 0.75rem;
    &:after {
      content: "";
      display: block;
      width: 35px;
      height: 3px;
      background-color: $c-mediumgray;
    }
  }
}
.products-items {
  display: flex;
  .products-item {
    text-align: center;
    margin: 0.5rem;
    .products-figure {
      margin: 0;
    }
    .products-name {
      font: 600 0.9em $f-primary;
      color: $c-darkgray;
      text-transform: uppercase;
    }
    .products-price {
      font: 800 1em $f-primary;
      color: $c-black;
      margin: 0;
    }
    .products-installment {
      font: 400 0.7em $f-primary;
      color: $c-darkgray;
      margin: 0.2rem 0;
    }
    .products-buy {
      width: 100%;
      font: 500 1rem $f-tertiary;
      color: white;
      text-transform: uppercase;
      background: #000;
      padding: 0.5rem;
      outline: none;
      border: none;
      border-radius: 5px;
    }
  }
}
