@import 'partials/normalize';
@import 'partials/media';

// Colors - Variables
$c-white     : #fff;
$c-black     : #000;
$c-coral     : #F8475F;
$c-lightgray : #F2F2F2;
$c-gray      : #BDBDBD;
$c-mediumgray: #c0c0c0;
$c-darkgray  : #7A7A7A;

// Fonts - Variables
$f-primary  : 'Nunito', sans-serif;
$f-secondary: 'Lato', sans-serif;
$f-tertiary : 'Ubuntu', sans-serif;

// Globals
body {
  font-family: $f-primary;
}
.image-responsive {
  width: 100%;
  height: auto;
}

// Header
.header {
  background-color: #fff;
  padding: 1rem 1.25rem 0.7rem 1.25rem;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    @include desktop {
      align-items: center;
    }
  }
  .header-figure {
    margin: 0;
    &:first-of-type {
      @include desktop {
        display: none;
      }
    }
    &:nth-of-type(2) {
      width: 100px;
    }
    &:nth-of-type(3) {
      cursor: pointer;
      @include desktop {
        order: 4;
      }
    }
  }
  .header-login {
    display: none;
    cursor: pointer;
    @include desktop {
      display: flex;
      justify-self: flex-start;
      align-items: center;
      order: 3;
    }
    .header-text {
      font: 400 0.8em $f-primary;
      color: $c-darkgray;
      margin-left: 0.25rem;
    }
  }
  .header-search-container {
    width: 100%;
    margin-top: 1rem;
    @include desktop {
      width: 70%;
      margin: 0;
      order: 2;
    }
    input[type="text"] {
      width: 100%;
      font: 400 0.8em $f-primary; 
      padding: 0.4rem 0 0.2rem 0.5rem;
      border: none;
      border-bottom: 1px solid #000;
      box-sizing: border-box;
    }
  }
}

// Section Banner
.section-banner {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
  url('./../../img/background-banner-image.jpg');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 1.25rem;
  @include desktop {
    background-image: url('./../../img/background-banner-image-desktop.jpg');
    padding: 2rem;
  }
  .section-banner-content {
    @include desktop {
      max-width: 1100px;
      margin: 5rem auto;
    }
    .section-banner-text {
      font: 600 1.4em $f-primary;
      color: $c-white;
      line-height: 1.15;
      margin-bottom: 0;
      @include desktop {
        font-size: 1.8em;
      }
    }
    .section-banner-title {
      font: 800 1.8em $f-primary;
      color: $c-white;
      line-height: 1.15;
      margin-top: 0.2rem;
      @include desktop {
        font-size: 3em;
        width: 45%;
      }
    }
  }
}
.dots-items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 2rem 0 0 0;
  list-style: none;
  .dots-item span { 
    display: block;
    width: 7px;
    height: 7px;
    background-color: $c-gray;
    margin: 0 0.3rem;
    border-radius: 100%;
  }
  span.active {
    background-color: $c-coral;
    outline: none;
  }
}

// Section Products
.section-products {
  padding: 1rem 0.5rem 2.5rem 0.5rem;
  @include desktop {
    max-width: 1100px;
    margin: 0 auto;
  }
  .section-title {
    font: 900 1.1em $f-primary;
    color: $c-black;
    padding: 0 0.75rem;
    &:after {
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background-color: $c-mediumgray;
    }
    @include desktop {
      font-size: 1.3em;
      &::after {
        width: 60px;
      }
    }
  }
}
.products-items {
  display: flex;
  .products-item {
    text-align: center;
    margin: 0.5rem;
    .products-figure {
      margin: 0;
    }
    .products-name {
      font: 600 0.9em $f-primary;
      color: $c-darkgray;
      text-transform: uppercase;
    }
    .products-price {
      font: 800 1em $f-primary;
      color: $c-black;
      margin: 0.5em 0 0 0;
    }
    .products-installment {
      font: 400 0.7em $f-primary;
      color: $c-darkgray;
      margin: 0.2rem 0;
    }
    .products-buy {
      width: 100%;
      font: 500 1rem $f-tertiary;
      color: white;
      text-transform: uppercase;
      background: #000;
      padding: 0.5rem;
      outline: none;
      border: none;
      border-radius: 5px;
    }
  }
}

// Section Newsletter
.section-newsletter {
  background-color: $c-lightgray;
  padding: 1.5rem 1rem 1rem 1rem;
  @include desktop {
    padding: 1.5rem 1rem 3rem 1rem;
  }
  .section-title {
    font: 700 1.35em $f-secondary;
    color: $c-black;
    line-height: 1.15;
    @include desktop {
      text-align: center;
    }
  }
}
.section-newsletter-form {
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
  }
  input {
    width: 100%;
    font: 400 1em $f-secondary;
    color: $c-black;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1.25rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    &::placeholder {
      color: #585858;
    }
    @include desktop {
      width: 280px;
      margin: 0 0.25em;
    }
  }
  button {
    width: 100%;
    font: 400 0.9rem $f-tertiary;
    color: white;
    background: #000;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    @include desktop {
      width: 140px;
      margin-left: 0.25rem;
    }
  }
}

// Footer
.footer {
  background-color: $c-black;
  padding: 0.5rem 1rem;
  .footer-content { 
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1100px;
      margin: 0 auto;
    }
  }
}
.footer-location {
  padding: 0.5rem 0;
  @include desktop {
    width: 370px;
  }
  .footer-title {
    font: 700 1.1em $f-primary;
    color: $c-white;
    &:after {
      content: "";
      display: block;
      width: 30px;
      height: 4px;
      background-color: $c-white;
      margin-top: 0.5em;
    }
  }
  .footer-text {
    font: 400 0.8em $f-primary;
    color: $c-white;
    margin: 0.5rem 0;
    a {
      color: $c-white;
      text-decoration: none;
    }
  }
}
.contact-items {
  width: 200px;
  padding: 0.5rem 0;
  margin: 0 auto;
  .contact-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 40px;
    font: 600 1em $f-primary;
    color: $c-black;
    line-height: 1.15;
    text-decoration: none;
    background-color: $c-white;
    margin-top: 1rem;
    border-radius: 5px;
    span{
      display: block;
      height: auto;
      &:first-child  {
        width: 20px;
      }
      &:last-child {
        width: 130px;
      }
     }
   }
}
.administrators-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin: 2rem auto 0 auto;
  @include desktop {
    width: 160px;
  }
  .administrators-item {
    margin: 0;
    .footer-small-text {
      color: white;
      display: block;
      font-size: 0.75em;
      font-weight: 400;
      margin-bottom: 0.1rem;
    }
  }
}